<% layout('layouts/boilerplate')  %> 
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="products card shadow-sm p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <h5><%= user.username  %></h5>
        </div>
        <a  class="btn btn-success" href="/users">Back to Products</a>
    </div>