<% layout('layouts/boilerplate')  %>
    
<div class="container d-flex flex-column justify-content-md-center align-items-md-center">
    <h1 class="headings">Cubana +48</h1>
    <div class="container my-5 p-3 card">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam asperiores accusantium perspiciatis voluptatum voluptas delectus ipsa nihil quo, doloribus rerum reprehenderit. A asperiores vitae saepe id ex eum qui accusamus.</p>
    </div>
    <div class="container text-center">
        <p><a  class="text-body" href="/products">Go to products</a></p>
    </div>
</div>